@model EPM.Extension.Web.Models.CustomerViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@EPM.Extension.Web.Resources.Customer.Title</h2>

<hr />
<input type="hidden" id="SearchCustomerString" />
<input type="hidden" id="SearchMeteringCodeString" />
<table id="CustomerList" class="table display table-responsive" style="width: 1535px;">
    <thead>
        <tr>
            <th></th>
            <th>@EPM.Extension.Web.Resources.Customer.Name</th>
            <th>@EPM.Extension.Web.Resources.Customer.Number</th>
            <th>@EPM.Extension.Web.Resources.Customer.Address</th>
            <th>@EPM.Extension.Web.Resources.Customer.ZipCode</th>
            <th>@EPM.Extension.Web.Resources.Customer.City</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<hr/>

<h2>@EPM.Extension.Web.Resources.Customer.SubTitle</h2>

<table id="MeteringCodeList" class="table display table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col1</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col2</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col3</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col4</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col5</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col6</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col7</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col8</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col9</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col10</th>
            <th>@EPM.Extension.Web.Resources.MeteringCode.Col11</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



<script type="text/javascript">
    $(document).ready(function () {
        var start = ('@Model.SearchRequest.PageNo' - 1) * '@Model.SearchRequest.PageSize';
        var isAsc = '@Model.SearchRequest.IsAsc' == "True" || '@Model.SearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.SearchRequest.SortBy', isAsc ? 'asc' : 'desc'];

            var oTable = $("#CustomerList").dataTable({
                "iDisplayLength": 10,
                "displayStart": start || 0,
                "bFilter": true,
                "bLengthChange": false,
                "aaSorting": [sortBy],
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] },
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ],
                //"tableTools": {
                //    "sRowSelect": "multi",
                //    "sSelectedClass": "row_selected"
                //},
                "columns": [
                            { "data": "Id" },
                            { "data": "Kunde" },
                            { "data": "Kundennummer" },
                            { "data": "Strasse" },
                            { "data": "Plz" },
                            { "data": "Ort" },
                            {
                                "orderable": false,
                                "data": null,
                                "defaultContent": "<a class='edit'  href='javascript:;'>Detail</a>",
                                "class": "textAlignRight"
                            }
                ],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/Customer/Index",
                    type: "POST",
                    dataType: "json",
                    data: function (params) {
                        $("#CustomerList_filter input").val($('#SearchCustomerString').val());
                        params.PageNo = Math.ceil(params.start / params.length) + 1;
                        if (params.PageNo === 0) {
                            params.PageNo = 1;
                        }
                        params.PageSize = params.length;
                        params.SortBy = params.order[0].column;
                        if (params.SortBy === 0) {
                            params.SortBy = 1;
                        }
                        params.IsAsc = params.order[0].dir === "asc";
                        params.Param = $('#SearchCustomerString').val();
                        //params.Name = $('#txtName').val();
                        //params.PerformedDate = $('#txtDate').val();
                    },
                    complete: fnActivityComplete
                }

            });
            
        $('#CustomerList_filter input').after($('<button id="searchCrmAccount" class="btn btn-primary btn-sm">Search</button>'));
        $('#searchCrmAccount').click(function() {
            oTable.fnDraw();
        });
            function fnActivityComplete(data, e) {
                $("#MeteringCodeList_filter input").val('');
                $("#SearchMeteringCodeString").val('');

                if (oTable.fnSettings().fnRecordsDisplay() > 0) {
                    //select first row
                    var nTop = $('#CustomerList tbody tr')[0];
                    $(nTop).addClass('selected');
                    mTable.fnDraw();
                }
            }

        $("#CustomerList_filter input").unbind()
            .bind("input", function (e) {
                // Bind our desired behavior
                $("#SearchCustomerString").val(this.value);
                if (e.keyCode == 13 || this.value == "") { 
                    oTable.fnDraw();
                } 
                return;
            });
            $('#CustomerList').on('click', '.edit', function (e) {
                e.preventDefault();
                var nRow = $(this).parents('tr')[0];
                var aData = oTable.fnGetData(nRow);
                window.location.href = "/Customer/Edit/" + aData.Id;
            });


            $('#MeteringCodeList').on('click', '.edit', function (e) {
                e.preventDefault();
                var nRow = $(this).parents('tr')[0];
                var aData = mTable.fnGetData(nRow);
                window.location.href = "/MeteringCode/Edit/" + aData.Id;
            });


            $('#CustomerList tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    oTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    mTable.fnDraw();
                }
            });

            //*************************Metering Code Child Table*************************************

            var startMeteringCode = ('@Model.MeteringCodeSearchRequest.PageNo' - 1) * '@Model.MeteringCodeSearchRequest.PageSize';
            var isAscMeteringCode = '@Model.MeteringCodeSearchRequest.IsAsc' == "True" || '@Model.MeteringCodeSearchRequest.IsAsc' == "true";
            var sortByMeteringCode = ['@Model.MeteringCodeSearchRequest.SortBy', isAscMeteringCode ? 'asc' : 'desc'];

            var mTable = $("#MeteringCodeList").dataTable({
                "iDisplayLength": 10,
                "iDeferLoading": true,
                "displayStart": startMeteringCode || 0,
                "bFilter": true,
                "bLengthChange": false,
                "aaSorting": [sortByMeteringCode],
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0] },
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ],
                "columns": [
                            { "data": "Id" },
                            { "data": "Zählpunktbezeichner" },
                            { "data": "Kurzbezeichnung" },
                            { "data": "Anlagentyp" },
                            { "data": "Strasse" },
                            { "data": "PLZ" },
                            { "data": "Ort" },
                            { "data": "DatenversandAktiv" },
                            { "data": "ZählverfahrenValue" },
                            { "data": "UMessungValue" },
                            { "data": "UEntnahmeValue" },
                            { "data": "Kundenrückmeldung" },
                            {
                                "orderable": false,
                                "data": null,
                                "defaultContent": "<a class='edit'  href='javascript:;'>Detail</a>",
                                "class": "textAlignRight"
                            }
                ],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/MeteringCode/Index",
                    type: "POST",
                    dataType: "json",
                    data: function (params) {
                        params.PageNo = Math.ceil(params.start / params.length) + 1;
                        if (params.PageNo === 0) {
                            params.PageNo = 1;
                        }
                        params.PageSize = params.length;
                        params.SortBy = params.order[0].column;
                        if (params.SortBy === 0) {
                            params.SortBy = 1;
                        }
                        params.IsAsc = params.order[0].dir === "asc";
                        params.CustomerId = oTable.fnGetData($('#CustomerList .selected')).Id;
                        $("#MeteringCodeList_filter input").val($('#SearchMeteringCodeString').val());

                        params.Param = $('#SearchMeteringCodeString').val();
                        //params.PerformedDate = $('#txtDate').val();
                    }
                }

            });
            $('#MeteringCodeList_filter input').after($('<button id="searchMeteringCode" class="btn btn-primary btn-sm">Search</button>'));
            $('#searchMeteringCode').click(function () {
                //$("#SearchCustomerString").val(this.value);
                mTable.fnDraw();
            });

        $("#MeteringCodeList_filter input").unbind()
                .bind("input", function (e) {
                    $("#SearchMeteringCodeString").val(this.value);
                    // Bind our desired behavior
                    if (this.value == "" || e.keyCode == 13) {
                        mTable.fnDraw();
                    }
                    return;
                });
        });
</script>



