@model EPM.Extension.Model.MeteringPointThreshold


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@EPM.Extension.Web.Resources.MeteringCodeThreshold.Title</h3>
</div>


<div class="modal-body">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.GrenzwertBezeichner, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.GrenzwertBezeichner, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.GrenzwertBezeichner, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GultingAb, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.GultingAb, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GultingAb, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SaisonalitatAnwenden, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            <div class="checkbox">
                @Html.EditorFor(model => model.SaisonalitatAnwenden)
                @Html.ValidationMessageFor(model => model.SaisonalitatAnwenden, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MinimaGlobal, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.MinimaGlobal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MinimaGlobal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaximaGlobal, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.MaximaGlobal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaximaGlobal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MinimaSommer, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.MinimaSommer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MinimaSommer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaximaSommer, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.MaximaSommer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaximaSommer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MinimaWinter, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.MinimaWinter, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MinimaWinter, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaximaWinter, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.MaximaWinter, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaximaWinter, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
<div class="modal-footer">
    <button id="saveThreshold" class="btn btn-success">Save</button>
</div>

<script language="javascript">
         (function thename() {


            $('#saveThreshold').click(function () {
                saveClicked();
            });


        }()); //auto-run

</script>
